<div class="footer">
  <mat-divider></mat-divider>
  <div class="footer-grid">
    <div class="grid-left">
      <img src="assets/images/considera-icon.png"/>
      <span class="logo">CONSIDERA CORE LLC</span>
      <span class="secondLogo">CONSIDERA GAMES LLC</span>
      <span class="thirdLogo">CONSIDERA SOFTWARE LLC</span>
      <div class="moto">
        <span class="main font-21">Games, Software; Consideration at its' Core!</span>
        <span class="sub">Everyday I aspire to learn and grow in order to build and publish the best games and software I can.</span>

        <span class="copyright"><span>considera.dev</span> Version 0.3. Built by Zachary Champeau. Powered by Angular and AWS. Property of Considera Core LLC ©2020-2024 and its' descendants.</span>
      </div>
    </div>
    <mat-divider class="split-v" [vertical]="true"></mat-divider>
    <mat-divider class="split-h" [vertical]="false"></mat-divider>
    <div class="grid-right">
      <div class="grid-tile">
        <span class="title">Social</span>
        <div class="links">
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zach-champeau-498507183/">
            <span class="link">LinkedIn <mat-icon class="download" fontIcon="open_in_new"/></span>
          </a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/consideracore/">
            <span class="link">Instagram <mat-icon class="download" fontIcon="open_in_new"/></span>
          </a>


          <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/9A9CjrSxeu">
            <span class="link">Discord <mat-icon class="download" fontIcon="open_in_new"/></span>
          </a>

          <span class="link">Email: consideracore&commat;gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
