<mat-card>
  <img mat-card-image src="https://cdn.cloudflare.steamstatic.com/steam/apps/1482860/ss_f51244bef3ce8ded0e8dc9ae519634dd3500cb56.1920x1080.jpg?t=1682041197" alt="A screenshot from Idle Research displaying the Research feature.">

  <mat-card-header>
    <mat-card-title>
      <span class="font-21">Idle Research</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <span class="font-13 subtitle">
      <div class="downloads">1.56 Million
        <mat-icon class="download" fontIcon="download"/>
      </div>
      <div class="rating">4.51 ⭐</div>
    </span>
    <span class="font-13 description">Idle Research is an addictive, resource management, incremental game with both idle and active playstyles.</span>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button>More Details</button>
  </mat-card-actions>

</mat-card>
