<div class="roadmap">

  <div class="projects-grid">

    <div class="grid-header">
      <span class="font-55">Roadmap</span>
    </div>

    <mat-expansion-panel hideToggle="">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Finish this page
        </mat-panel-title>
        <mat-panel-description>
          <app-badge [label]="'Work in progress!'" [color]="'rgba(255, 255, 0, 0.5)'"></app-badge>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-direction: column">
        <mat-checkbox [checked]="true" [disabled]="true">Basic home page setup</mat-checkbox>
        <mat-checkbox [checked]="false" [disabled]="true">Hook up API for my other projects</mat-checkbox>
        <mat-checkbox [checked]="false" [disabled]="true">Add more to the roadmap</mat-checkbox>
        <mat-checkbox [checked]="false" [disabled]="true">Navigation support</mat-checkbox>
        <mat-checkbox [checked]="false" [disabled]="true">Footer</mat-checkbox>
        <mat-checkbox [checked]="false" [disabled]="true">Optimization</mat-checkbox>
      </div>
    </mat-expansion-panel>

  </div>
</div>
