$musique-purple-palette: (
  50 : #f4f3ff,
  100 : #e3e0ff,
  200 : #d0ccff,
  300 : #bdb8ff,
  400 : #aea8ff,
  500 : #a099ff,
  600 : #9891ff,
  700 : #8e86ff,
  800 : #847cff,
  900 : #736bff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #f4f3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$musique-dark-palette: (
  50 : #e4e4e4,
  100 : #bbbbbc,
  200 : #8e8e8f,
  300 : #606062,
  400 : #3e3e40,
  500 : #1c1c1e,
  600 : #19191a,
  700 : #141416,
  800 : #111112,
  900 : #09090a,
  A100 : #e07171,
  A200 : #d74747,
  A400 : #eb0000,
  A700 : #d10000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$musique-light-palette: (
  50 : #fefefe,
  100 : #fefefe,
  200 : #fdfdfd,
  300 : #fcfcfc,
  400 : #fbfbfb,
  500 : #fafafa,
  600 : #f9f9f9,
  700 : #f9f9f9,
  800 : #f8f8f8,
  900 : #f6f6f6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$musique-danger-palette: (
  50 : #fcf3f3,
  100 : #f9e0e0,
  200 : #f5cccc,
  300 : #f0b8b8,
  400 : #eda8a8,
  500 : #ea9999,
  600 : #e79191,
  700 : #e48686,
  800 : #e17c7c,
  900 : #db6b6b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffeaea,
  A700 : #ffd0d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
