<mat-expansion-panel class="body-expansion-panel" expanded="true">

  <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="header-title">
      <span>{{ title }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <div class="panel-groups">
    <ng-content select="[groups]"></ng-content>
  </div>

  <mat-divider></mat-divider>

  <div class="panel-actions">
    <ng-content select="[actions]"></ng-content>
  </div>

</mat-expansion-panel>
