@import '../../../variables';

.content {
  height: 100%;
  background-color: $musique-light-grey;

  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: calc($fib-13);

    span {
      font-size: $fib-21;
      font-family: "coolveticaRg", serif;
    }
  }

  .content-body {
    display: flex;
    flex-direction: column;
    padding: calc($fib-21);

    .grid-card {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1rem;
      justify-content: center;
    }
  }

}

mat-divider {
  background-color: $light-divider;
}
